/* Estilo general */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    text-align: center;
}

/* Encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
    margin: 0;
}

header img {
    width: 150px;
    height: auto;
}

/* Contenedor de la ruta */
#roadmap-container {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

#start-point {
    margin-bottom: -30px;
    margin: -25px;
    position: relative;
}
.puntoPartida {
    width: 150px;
    position: relative;
}

/* Ruta */
#roadmap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.road-line {
    width: 10px;
    background: rgb(43, 43, 43);
    height: 70px;
    margin: 3px auto;
    position: relative;
}

.road-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    border-radius: 50%;
    color: transparent;
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    transition: transform 0.2s;
    top: 5px;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
}

.letsGo {
    width: 130px;
    top: 5px;
    right: 150px;
    position: relative;
}

.puente {
    width: 150px;
    top: -30px;
    right: -30px;
    position: relative;
}

.monumentoBandera {
    width: 150px;
    top: -30px;
    right: 180px;
    position: relative;
}

.salchicha {
    width: 130px;
    top: -30px;
    right: -40px;
    position: relative;
}

.abrazo {
    width: 130px;
    top: -50px;
    right: 160px;
    position: relative;
}

.mates {
    width: 150px;
    top: -50px;
    right: -35px;
    position: relative;
}

.paraTi {
    width: 130px;
    top: -50px;
    right: 160px;
    position: relative;
}

.welcomeFlorida {
    width: 120px;
    top: -60px;
    right: -40px;
    position: relative;
}

.bifurcacion {
    width: 80px;
    top: -100px;
    right: 130px;
    position: relative;
}

.miami {
    width: 120px;
    top: -60px;
    right: -40px;
    position: relative;
}

.tuPuedes {
    width: 130px;
    top: -15px;
    right: -15px;
    position: relative;
}

.infinito {
    width: 80px;
    top: 70px;
    right: 35px;
    position: relative;
}

.road-button:hover {
    transform: scale(1.1);
}

/* Imagen dentro del botón */
.road-button img {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

/* Cuadrado redondeado */
.road-square {
    border: 10px dashed rgb(43, 43, 43);
    border-radius: 35px;
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px auto;
    position: relative;
}

.flag-icon {
    width: 90px;
    position: absolute;
}

.flag-icon:nth-child(1) {
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.flag-icon:nth-child(2) {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.flag-icon:nth-child(3) {
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.plane-icon {
    width: 70px;
    top: -30px;
    right: -40px;
    position: absolute;
}



/* Línea inferior */
.road-end {
    width: 10px;
    background: rgb(43, 43, 43);
    height: 70px;
    margin: 3px auto;
    position: relative;
}
