/* Estilo general */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: #d7dee1 url('icons/fondo.jpeg') no-repeat center center;
    background-size: cover;
    text-align: center;
}

/* Encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
    margin: 0;
}

header img {
    width: 120px;
    height: auto;
}

header button {
    background: transparent;
    border: none;
    border-radius: 50%;
    color: transparent;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    transition: transform 0.2s;
}

/* Imagen dentro del botón */
.header-button img {
    width: 40px;
    height: 40px;
    margin-left: -10px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

/* Estilo del login */
#login-container {
    margin: 110px auto;
    width: 210px;
    padding: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

#login-form input {
    width: 93%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-size: 14px;
}

#login-form button {
    width: 99%;
    padding: 8px;
    background: #19a319;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

#login-form button:hover {
    background: #333;
}

#error-message {
    color: red;
    font-size: 14px;
    display: none;
}

#Imagen-del-Login {
    margin-top: -50px;
}

.loginImagen {
    width: 120px;
    top: 160px;
    right: 0px;
    position: relative;
}

/* Contenedor de la ruta */
#roadmap-container {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

#start-point {
    margin-bottom: -30px;
    margin: -25px;
    position: relative;
}
.puntoPartida {
    width: 150px;
    position: relative;
}

/* Ruta */
#roadmap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.road-line {
    width: 13px;
    background: rgb(43, 43, 43);
    height: 65px;
    margin: 3px auto;
    position: relative;
}

.road-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    border-radius: 50%;
    color: transparent;
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    transition: transform 0.2s;
    top: 5px;
    align-items: center; /* Centra verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
}

.letsGo {
    width: 130px;
    top: 5px;
    right: 150px;
    position: relative;
}

.teAmo {
    width: 150px;
    top: -30px;
    right: -30px;
    position: relative;
}

.PinkyPromise {
    width: 150px;
    top: -30px;
    right: 180px;
    position: relative;
}

.salchicha {
    width: 130px;
    top: -30px;
    right: -40px;
    position: relative;
}

.abrazo {
    width: 130px;
    top: -50px;
    right: 160px;
    position: relative;
}

.mates {
    width: 150px;
    top: -50px;
    right: -35px;
    position: relative;
}

.paraTi {
    width: 130px;
    top: -50px;
    right: 160px;
    position: relative;
}

.welcomeFlorida {
    width: 120px;
    top: -60px;
    right: -40px;
    position: relative;
}

.bifurcacion {
    width: 80px;
    top: -100px;
    right: 130px;
    position: relative;
}

.miami {
    width: 120px;
    top: -60px;
    right: -40px;
    position: relative;
}

.tuPuedes {
    width: 130px;
    top: -15px;
    right: -15px;
    position: relative;
}

.infinito {
    width: 80px;
    top: 70px;
    right: 35px;
    position: relative;
}

.road-button:hover {
    transform: scale(1.1);
}

/* Imagen dentro del botón */
.road-button img {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

/* Cuadrado redondeado */
.road-square {
    border: 13px dashed rgb(43, 43, 43);
    border-radius: 35px;
    width: 150px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px auto;
    position: relative;
}

.flag-icon {
    width: 90px;
    position: absolute;
}

.flag-icon:nth-child(1) {
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.flag-icon:nth-child(2) {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.flag-icon:nth-child(3) {
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.plane-icon {
    width: 70px;
    top: -30px;
    right: -40px;
    position: absolute;
}



/* Línea inferior */
.road-end {
    width: 10px;
    background: rgb(43, 43, 43);
    height: 70px;
    margin: 3px auto;
    position: relative;
}

/* Agregar el cerrar sesion */
#cerrar-sesion-container {
    position: absolute;
    top: 50px; /* Ajusta según la altura del header */
    right: 20px; /* Ajusta según el margen que desees desde la derecha */
    background-color: white; /* Fondo para distinguir el contenedor */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; /* Oculto inicialmente */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}
#cerrar-sesion-container button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #e75757;
    color: white;
    border-radius: 3px;
    font-size: 14px;
}
#cerrar-sesion-container button:hover {
    background-color: #e75757;
}

